@import '@styles/mixins.scss';

.TechStackDirection {
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 2.4rem 2rem;

  @include onTablet {
    padding: 3.85rem 3.45rem;
    gap: 2.25rem;
  }

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.65rem;

    @include onTablet {
      gap: 2.25rem;
    }

    @include onDesktop {
      max-width: 500px;
    }
  }
  
  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;

    @include onTablet {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: .8rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin: 0;

    @include onTablet {
      font-size: 1rem;
    }
  }

  &__frame {
    font-size: .8rem;
    max-width: max-content;
    padding: .6rem .8rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--gray-color);
    border-radius: 10px;
  }

  &__list {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1.65rem 0 0 0;

    @include onTablet {
      gap: 1.65rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  &__icon {
    max-width: 14px;
    max-height: 14px;

    @include onTablet {
      max-width: 18px;
      max-height: 18px;
    }
  }

  &__technology {
    margin: 0;
    font-size: .8rem;

    @include onTablet {
      font-size: 1rem;
    }
  }
}