.logo-custom-size {
    width: 26px;
    height: 26px;
}

/* For screens < 800px */
.container-custom {
	margin-top: 7rem;
	width: 85%;
}

/* For screens >= 800px */
@media (min-width: 800px) {
	.container-custom {
	  width: 50%;
	}
  }
