* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}