:root {
  --bg-color: #1E1E1E;
  --header-color: #303030;
  --primary-color: #FFFFFF;
  --secondary-color: #B0B0B0;
  --border-color: #B5B5B5;
  --black-color: #000000;
  --accent-color: #ffffff25;
  --gray-color: #393939;
}

$header-size: 60px;
$header-desktop-size: 66px;