.LinkLine {
  display: flex;
  gap: .9rem;
  align-items: center;

  &__icon {
    max-width: 14px;
    max-height: 14px;
  }

  &__arrow {}

  &__link {
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;

    &--active {
      color: var(--secondary-color);
    }
  }
}