@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.Header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-color);
  max-height: $header-size;
  padding: 18px 24px;
  z-index: 100;

  @include onDesktop {
    max-height: $header-desktop-size;
    top: 10px;
    margin: -10px auto 0 auto;
    border-radius: 16px;
    max-width: 1000px;
  }

  &__title {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 400;
  }
}