@import '@styles/variables.scss';
@import '@styles/mixins.scss';
@import '@styles/normalize.scss';

.App {
  background-color: var(--bg-color);
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}